#titulo {
    background: url(../images/curiosidades.jfif)
    no-repeat fixed;
    background-size: cover;
}
@media screen and (min-width: 900px) {
    main {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: repeat(1, fit-content);
        row-gap: 20px;
        margin: 0 5%;
        text-align: left;
    }
    main img {
        padding-left: 20px;
        margin: auto;
    }
    #p1 {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        border-right: #001313 3px solid;
        padding-right: 20px;
    }
    #pi {
        grid-row: 1 / 1;
        grid-column: 2 / 2;
    }
}
main {
    padding-top: 6vh;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1024px) {
    header {
        font-size: 16vw;
    }
    main {
        width: 90%;
        margin: auto;
        text-align: left;
    }
    main p {
        margin: 20px auto;
    }
    main a {
        text-align: center;
    }
}