@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif; 
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    text-align: center;
    background-color: rgb(255, 236, 236);
    overflow-x: hidden;
}
p {
    margin: 10px auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    color: #001313;
}
a, header, label, h1 {
    color: rgb(255, 236, 236);
    font-family: 'Courgette', cursive;
    padding: 4px 3px;
    border-radius: 10px;
}
span {
    color: #FFECEC;
}
header {
    font-size: 10vw;
    word-break: keep-all;
}
p a, .azul, h1 {
    color: #104093;
}
.preto {
    color: #001313;
}
a:hover, header:hover {
    animation: change1 0.4s;
    animation-fill-mode: forwards;
    cursor: pointer;
}
p a:hover, .azul:hover, .preto:hover {
    animation: change2 0.4s;
    animation-fill-mode: forwards;
    cursor: pointer;
}
@keyframes change1 {
    0% {}
    100% {
        color: #104093;
        background-color: #FFECEC;
    }
}
@keyframes change2 {
   100% {
        color: #FFECEC;
        background-color: #104093;
    } 
}
#titulo {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Scroll bar design */
::-webkit-scrollbar {
    width: 13px;
}
::-webkit-scrollbar-track {
    background: #FFECEC;
}
::-webkit-scrollbar-thumb {
    background: #001313;
}

/* Nav design */
nav {
    background-color: #001313;
    position: fixed;
    width: 100%;
    height: fit-content;
    text-align: left;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
#logo {
  height: 70px;
  width: auto;
  margin: 10px 0;
  padding-left: 20px;
  float: left;
}
nav ul {
    float: left;
    list-style: none;
    position: relative;
    margin: 5px 0;
    margin-left: 20px;
}
nav ul li {
    float: left;
    display: block;
    width: 100%;
    background: #001313;
    margin: 0px 5px;
}
nav ul li a {
    line-height: 50px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}
nav ul ul {
   transition: top .3s;
   border-top: 0px;
   float: none;
   position: static;
    display: none;
   opacity: 1;
   margin-top: 0px;
   margin-bottom: 0px;
}
nav ul ul ul{
    border-top: none;
}
nav ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    float: none;
    border-bottom: 0px;
    display: block;
    width: 100%;
}
nav ul ul li a{
    line-height: 50px;
}
nav ul ul ul li{
    position: static;
}
input{
   display: none;
}
.show + a, ul{
    display: none;
}
.show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 50px;
    cursor: pointer;
    margin-left: 40px;
}
.icon {
    display: block;
    color: white;
    float: right;
    margin-right: 20px;
    margin-top: 25px;
    cursor: pointer;
    font-size: 25px;
}
nav ul ul a {
    margin-left: 40px;
}
nav ul ul ul a{
    margin-left: 80px;
}
[id^=btn]:checked + ul{
    display: block;
}
span.cancel:before{
    content: '\f00d';
}
#l1 {
    margin-left: -5px;
}

main {
    margin-top: 6vh;
    line-height: 35px;
}
.esq {
    float: left;
    margin-left: 10vw;
}
.dir {
    float: right;
    margin-right: 10vw;
}
#i {
    display: block;
    margin: auto;
    color: #FF4301;
}
#i:hover {
    animation: none;
    color: #001313;
}
#ib {
    display: block;
    margin: auto;
    color: #FF4301;
    width: fit-content;
}
#ib:hover {
    animation: none;
    color: #fff;
}

footer {
    background-color: #001313;
    margin: 40px 0 0 0;
    text-align: center;
    height: fit-content;
    line-height: 38px;
    padding: 20px 0;
    font-size: 21px;
}
footer a {
    padding: 5px;
}