@import url('https://fonts.googleapis.com/css2?family=Merriweather');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
html {
  scroll-behavior: smooth;
}
body {
    background-color: rgb(245, 229, 206);
    text-align: center;
}
h1 {
    color: #5A694F;
}
#header-img {
    height: 65px;
    width: 125px;
    margin: 6px 0px 6px 15px;
}
header {
    display: flex;
    background-color: rgb(24, 23, 23);
    color: rgb(245, 229, 206);
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}
header ul {
    margin-right: 15px;
}
ul, a {
    list-style: none;
    text-decoration: none;
}
header li {
    display: inline-block;
}
a {
    padding: 5px 14px;
    font-size: 21px;
    color:rgb(245, 229, 206);
}
a:hover {
    animation: change-color 0.3s linear forwards;
}

@keyframes change-color {
    0% {
        border-radius: 12px;
    }
    100% {
        border-radius: 12px;
        color: #5A694F;
        background-color: rgb(245, 229, 206);
    }
}

#submit {
    border-radius: 5px;
    background-color: rgb(24, 23, 23);
    color: #5A694F;
    padding: 5px;
    font-size: 35px;
    font-weight: bold;
    border: none;
    margin: 10px auto;
    width: 27vw;
    height: fit-content;
    cursor: pointer;
}
#submit:hover {
    animation: change-submit 0.3s linear forwards;
}

@keyframes change-submit {
    0%{}
    100% {
        color: rgb(245, 229, 206);
        background-color: #5A694F;
    }
}

#s1 {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
#s1 div {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    color: rgb(24, 23, 23);
    font-size: 24px;
    width: 480px;
    height: fit-content;
    text-align: left;
}
#s1 h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}
@media screen and (max-width: 1080px) and (min-width: 751px) {
    #s1 {
        display: block;
    }
    #s1 div {
        margin: 0px auto 45px auto;
        width: 55%;
    }
    #d2 {
        margin: auto;
    }
}
@media screen and (max-width: 750px) {
    #s1 {
        display: block;
    }
    #s1 div {
        margin: 0px auto 45px auto;
        width: 80%;
    }
    #d2 {
        margin: auto;
    }
    #submit {
        width: 45%;
    }
    header {
        height: 15vh;
    }
    header li {
        margin: 5px;
    }
}
.hr {
    background-color: #5A694F;
    height: 4px;
    width: 95%;
    border: none;
    border-radius: 25px;
    margin: 47px auto 0px auto;
}

#s2 h1, #form h1 {
    margin: 25px 0px 15px 0px;
    font-size: 40px;
}
#s2 div {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: "i1 v1" "i1 i2";
    justify-content: center;
}
#img1 {
    grid-area: i1;
    height: 640px;
    width: 580px;
}
#img2 {
    grid-area: i2;
    height: 350px;
    width: 560px;
}
#video {
    grid-area: v1;
}
@media screen and (max-width: 1190px) {
    #s2 div {
        display: grid;
        grid-row-gap: 20px;
        grid-template-areas: "i1" "i2" "v1";
        justify-content: center;
    }
    #img2, #img1, #video {
        max-width: 95%;
        height: auto;
        margin: auto;
    }
    #video {
        height: 315px;
    }
}
#form-div {
    width: 800px;
    max-width: 90%;
    margin: 0px auto 40px auto;
    background-color: white;
    color: rgb(24, 23, 23);
    border-radius: 15px;
    padding: 15px;
    font-size: 23px;
}
.justify {
    text-align: justify;
}
#email {
    margin: 20px auto 10px auto;
    width: 90%;
    font-size: 20px;
    border: #5A694F 1px solid;
    border-radius: 15px;
    padding: 7px;
    padding-left: 11px;
    color: #5A694F;
}
#email:focus, #email:hover {
    outline: none;
}
#email:focus::placeholder {
    opacity: 0;
  }